hyponet_db/
*.wav
send.zip
assets/*.gif
# --- Large assets / models ---
assets/
checkpoints/
*.wav
*.mp3
*.pth
*.onnx
*.log
hyponet_db_*.tar.zst

# local RAG assets
docs2/
hyponet_db2/


# --- local RAG assets ---
docs2/
hyponet_db2/
# Vim swap
*.swp

